.cards-grid{
  display: grid;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 10px;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
}

.movies__not-found,
.movies__api-error {
  text-align: center;
  margin-bottom: 0;
  margin-top: 50px;
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cards-grid {
    padding-top: 50px;
    padding-bottom: 26px;
    grid-template-columns: 300px;
    row-gap: 14px;
  }
}
