.cards-grid{
  display: grid;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 10px;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
}

.cards-grid_type_saved{
  padding-bottom: 247px;
}
