.cards-grid{
  display: grid;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 10px;
  grid-template-columns: repeat(auto-fit, 364px);
  column-gap: 24px;
  row-gap: 37px;
}

.cards-grid_type_saved{
  padding-bottom: 247px;
}

@media screen and (max-width: 1279px) {
  .cards-grid {
    grid-template-columns: repeat(2, 339px);
  }
}

@media screen and (max-width: 767px) {
  .cards-grid {
    column-gap: 30px;
    row-gap: 30px;
    padding-bottom: 30px;
  }

  .cards-grid_type_saved {
    padding-bottom: 170px;
  }
}
