.promo{
  max-width: 1280px;
  min-height: 574px;
  display: flex;
  background-color: #073042;
  justify-content: space-between;
}

.promo__box{
  max-width: 640px;
  min-height: 424px;
  margin: 75px 0px;
}

.promo__title{
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: left;
  margin: 0;
}

.promo__text{
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 153px;
  opacity: 0.5;
  max-width: 310px;
}

.promo__link{
  max-width: 129px;
  min-height: 36px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  padding: 10px 20px;
}

.promo__pic{
  width: 310px;
  height: 304px;
  margin-top: 75px;
}
