@import url(../../vendor/normalize.css);
@import url(../../vendor/font.css);

.page{
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
  font-family: Inter, Arial, sans-serif;
}

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
}

.buttons {
  transition: opacity 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.buttons:hover {
  opacity: 0.6;
}
