@import url(../../vendor/normalize.css);
@import url(../../vendor/font.css);

.page{
  min-width: 320px;
  min-height: 100vh;
  background-color: #202020;
  font-family: Inter, Arial, sans-serif;
}

.wrapper {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
}

.buttons {
  transition: opacity 0.25s linear;
  cursor: pointer;
  text-decoration: none;
}

.buttons:hover {
  opacity: 0.6;
}

.section{
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.section__title{
  border-bottom: 1px solid #DADADA;
  padding-bottom: 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 110px;
  margin-bottom: 0px;
}
