.about-project{
  max-width: 1280px;
  min-height: 608px;
  display: flex;
  flex-direction: column;
}

.about-project__grid{
  margin-top: 70px;
  margin-bottom: 110px;
  display: grid;
  grid-template-columns: repeat(2, minmax(319px, 550px));
  column-gap: 40px;
  row-gap: 26px;
}

.about-project__grid-title{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-project__grid-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.about-project__graphic{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, 36px);
}

.about-project__graphic-text{
  box-sizing: border-box;
  padding-top: 9px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin: 0;
  color: #8B8B8B;
}

.about-project__graphic-text:nth-of-type(1) {
  color: #000000;
  background-color: #3DDC84;
}

.about-project__graphic-text:nth-of-type(2) {
  background-color: #303030;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .about-project {
    min-height: 585px;
  }

  .about-project__grid {
    margin-bottom: 93px;
    column-gap: 30px;
    row-gap: 22px;
  }

  .about-project__grid-text {
    font-size: 12px;
    line-height: 18px;
  }
}
