.techs{
  background-color: #272727;
  max-width: 1280px;
  min-height: 625px;
  display: flex;
  flex-direction: column;
}

.techs__title{
  margin-top: 100px;
}

.techs__name{
  align-self: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 26px;
}

.techs__text{
  max-width: 460px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  align-self: center;
  margin: 0 0 100px 0;
}

.techs__grid{
  align-self: center;
  max-width: 690px;
  display: grid;
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
}

.techs__grid-text{
  margin: 0;
  padding-top: 21px;
  padding-bottom: 22px;
  width: 100%;
  text-align: center;
  background-color: #303030;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .techs {
    min-height: 567px;
  }

  .techs__title {
    margin-top: 90px;
  }

  .techs__name {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .techs__grid {
    grid-template-columns: repeat(7, 84px);
  }

  .techs__grid-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: #202020;
  }

  .techs__title {
    margin-top: 70px;
  }

  .techs__name {
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .techs__text {
    margin-bottom: 50px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  .techs__grid {
    grid-template-columns: repeat(2, 84px);
    margin-bottom: 70px;
  }

  .techs__grid-text {
    padding-bottom: 21px;
  }
}
